body {
  background: #EEEEEE;
  font-family: "Suranna", serif;
  font-weight: 400;
  font-style: normal;
  color: #76ABAE;
}


.d-flex {
    display: flex!important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.main-converter {
  height: 30vh;
  margin-top: 100px;
}

.calculator-swap-component__button {
  border: 1px solid gray;
  border-radius: 100%;
  background-color: none;
  height: 50px;
  width: 50px;
}

.custom-dropdown { 
  position: relative;
  color: #222831; 
  display: flex;
  flex-direction: row;
  gap: 2px;
}
.dropdown { display: none; position: fixed; list-style: none; padding: 0; margin: 0; background-color: white; width: 34.75%;}
.dropdown li { padding: 5px; cursor: pointer; }
.dropdown li:hover { background-color: #f2f2f2; color: #76ABAE; }
.selected-currency { 
  cursor: pointer; 
  padding: 5px; 
  background-color: white; 
  width: 35%;
  border-radius: 10%;
}


.selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 5px;
  margin-left: 1px;
  font-size: 16px;
  color: #344955;
  margin-bottom: 5px;
}

#source-amount, #target-amount {
  width: 225%;
}



.currency-code::after {
  content: '▼'; /* Unicode character for down arrow */
  display: inline-block; /* Ensures proper spacing and positioning */
  margin-left: 3px;/* Adjust the space between the currency code and the arrow as needed */
  font-size: 10px;
  color: gray;
}

.conversion-rate-display {
  color: #222831;
  margin-top: 5px;
  font-weight: bold;
}

.converter-content {
  display: flex;
  flex-direction: column;

}




/* input, textarea {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
  outline: none;
  transition: border 0.3s;
  font-family: "Suranna", sans-serif;
  box-sizing: border-box;
} */

h5 {
  color:#496989;
}

/* .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */

/* .main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
  background-color: lightgrey;
  width: 50%;
} */

.currency-input {
  width: 80%;
}

.source, .target {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
}

.main {
  background-color: lightgrey;
}